$base-color: #1d64bb;

@mixin glyphicon {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin glyphicon-ok {
  content: "\e013";
}


body {
  font-family: Tahoma, Arial, sans-serif;
}

.navbar-default {
  background: $base-color;
  border-radius: 0;
  .navbar-brand {
    color: #fff;
  }
  .navbar-nav {
    & > li > a, , & > .active > a {
      color: #fff;
    }
    & > .active > a {
      background: lighten($base-color, 20%);
    }
  }
}

@each $browser in firefox, chrome, opera, safari {
  .#{$browser}-icon {
    background-image: url('../img/#{$browser}.png');
  }
}

.internet.explorer-icon {
  background-image: url('../img/internet-explorer.png');
}

.browser {
  &__name {
    font-size: 18px;
  }
  &__icon {
    display: inline-block;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    margin-right: 5px;
  }
  &__versions {
    margin-left: 60px;
  }
}

.browser-thumb {
  display: inline-block;
  margin-right: 0.5em;
  &__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: cover;
    vertical-align: middle;
    position: relative;
    top: -2px;
  }
}

.version-checkbox {
  input[type=checkbox] {
    display: none;
  }
  label {
    display: block;
    max-width: 150px;
    cursor: pointer;
  }
  &__display {
    display: block;
    position: relative;
    padding: 3px 6px;
    &:before {
      content: ' ';
      top: 1px;
      margin-right: 0.6em;
      width: 1em;
      display: inline-block;
      @include glyphicon;
      @include glyphicon-ok;
      color: #fff
    }
    &:hover {
      background: #ebebeb;
    }
    input[type=checkbox]:checked + & {
      background: $base-color;
      color: #fff;
    }
  }
}

.request {
  margin-bottom: 0.5em;
  &__output {
    margin-left: 18px;
  }
}

